flows.json
[{"id":"898dc818.750488","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"db461007.f6c1e","type":"mqtt in","z":"898dc818.750488","name":"","topic":"temp","qos":"1","datatype":"auto","broker":"264d24e7.58bb9c","x":370,"y":460,"wires":[["a6123a2e.919778"]]},{"id":"bacf5017.3cc17","type":"mqtt in","z":"898dc818.750488","name":"","topic":"humid","qos":"1","datatype":"auto","broker":"264d24e7.58bb9c","x":370,"y":260,"wires":[["2125a81d.bebc58"]]},{"id":"4ee233dc.284afc","type":"debug","z":"898dc818.750488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":210,"y":360,"wires":[]},{"id":"92c4955c.57c6e8","type":"mongodb out","z":"898dc818.750488","mongodb":"18895d03.e5bc83","name":"Brewmaster Temperature","collection":"temperature","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":930,"y":460,"wires":[]},{"id":"66784451.dd9f9c","type":"mongodb out","z":"898dc818.750488","mongodb":"18895d03.e5bc83","name":"Brewmaster Humidity","collection":"humidity","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":920,"y":260,"wires":[]},{"id":"a6123a2e.919778","type":"json","z":"898dc818.750488","name":"","property":"payload","action":"","pretty":false,"x":590,"y":460,"wires":[["92c4955c.57c6e8","4ee233dc.284afc"]]},{"id":"2125a81d.bebc58","type":"json","z":"898dc818.750488","name":"","property":"payload","action":"","pretty":false,"x":590,"y":260,"wires":[["66784451.dd9f9c","4ee233dc.284afc"]]},{"id":"264d24e7.58bb9c","type":"mqtt-broker","z":"","name":"Pi MQTT broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"18895d03.e5bc83","type":"mongodb","z":"","hostname":"192.168.240.30","port":"27017","db":"brewmaster","name":""}]